{% extends "base.html" %}


{% block header %}
        {{instance.title}}|{{ block.super }}
{% endblock %}

{% block content %}

<div class='col-sm-8 col-sm-offset-2'>
{% if instance.image  %}
<img src="{{ instance.image.url }}" class="img-responsive">
{% endif %}
<h1>{{instance.title}}<small> {{ instance.publish }}</small>
    {% if instance.draft %} Draft {% endif %}
    </br> </h1>
{# Facebook likes #}
<p>
    <div class="fb-like" data-href="{{  request.build_absolute_uri }}"
         data-layout="standard"
         data-action="like" data-size="large"
         data-show-faces="true" data-share="true"></div>
</p>
<p>
    {% include "social_media.html" %}

</p>
{{ instance.content|linebreaks }} </br>
{{ instance.updated }} </br>
{% if instance.user %}
<p>Author : {{ instance.user }}</p> {# instance.user.get_full_name #}
{% endif %}
{# facebook comments #}
<div class="fb-comments"></div>
</div>

{% endblock %}